<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Erfahren Sie mehr über Raumausstatter Frese</h2>
                <hr class="light">
                <p class="text-faded">Gegründet von Eduard Frese, Ihrem Fachmann für individuelles Raumdesign und professionelle Anstricharbeiten, steht Raumausstattung Frese seit über 15 Jahren für Qualität und Kundenzufriedenheit in Koblenz und Westerwald. Unser qualifiziertes Team aus Raumgestaltern und Malern arbeitet leidenschaftlich daran, Ihre Wohn- und Arbeitsräume nicht nur schöner, sondern auch funktionaler zu gestalten.
                </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Kontankt aufnehmen!</a>
            </div>
        </div>
    </div>
</section>
